@font-face {
	font-family: 'arkadia';
	src: url('../fonts/LTRT.eot');
	src: url('../fonts/LTRT.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/LTRT.woff2') format('woff2'),
		 url('../fonts/LTRT.woff') format('woff'),
		 url('../fonts/LTRT.ttf') format('truetype'),
		 url('../fonts/LTRT.svg#arkadiaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arkadia';
	src: url('../fonts/LTRTB.eot');
	src: url('../fonts/LTRTB.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/LTRTB.woff2') format('woff2'),
		 url('../fonts/LTRTB.woff') format('woff'),
		 url('../fonts/LTRTB.ttf') format('truetype'),
		 url('../fonts/LTRTB.svg#arkadiabold') format('svg');
	font-weight: bold;
	font-style: normal;
}