.input {
	width: 100%;
	padding: 16px 20px;
	color: #999;
	font-size: 16px;
	@extend .arkadia;
	border: 1px solid #999;
	background: #fff;
	box-sizing: border-box;
	@include respond-to(medium-screen) {
		font-size: 30px;
	}
}

.forms {
	.field {
		margin-bottom: 15px;
		position: relative;
		textarea {
			@extend .input;
			min-height: 90px;
		}
		input {
			height: 50px;
			vertical-align: middle;
			@extend .input;
			@include respond-to(medium-screen) {
				height: 74px;
			}
		}
		.table {
			width: 100%;
			.td {
				width: 50%;
			}
			.td1 {
				@include respond-to(medium-screen) {
					margin-bottom: 15px;
				}
			}
			.td2 {
				input {
					@include respond-to(large-screen) {
						border-left: 0;
					}
				}
			}
		}
		@include respond-to(medium-screen) {
			.table, .tr, .td {
				display: block!important;
				width: auto!important;
			}
		}
	}
	.field-valid {
		&:after {
			display: block;
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			top: 12px;
			right: 10px;
			z-index: 10;
		}
	}
}