.input {
	width: 100%;
	padding: 16px 20px;
	color: #999;
	font-size: 16px;
	@extend .arkadia;
	border: 1px solid #999;
	background: #fff;
	box-sizing: border-box;
	&:focus {
		@include respond-to(large-screen) {
			border-color: #666;
		}
	}
}

.forms {
	.field {
		margin-bottom: 15px;
		position: relative;
		textarea {
			@extend .input;
			min-height: 106px;
		}
		input {
			height: 50px;
			vertical-align: middle;
			@extend .input;
		}
		.table {
			width: 100%;
			.td {
				width: 50%;
			}
			.td1 {
				@include respond-to(small-screen) {
					margin-bottom: 15px;
				}
			}
			.td2 {
				input {
					border-left: 0;
					@include respond-to(small-screen) {
						border: 1px solid #999;
					}
				}
			}
		}
		@include respond-to(small-screen) {
			.table, .tr, .td {
				display: block!important;
				width: auto!important;
			}
		}
	}
	.field-required {
		&:after {
			display: block;
			content: '*';
			position: absolute;
			top: 18px;
			right: 18px;
			color: #ff3f3f;
			font-size: 14px;
			z-index: 10;
		}
	}
}