.circe {
	font-family: Arial, Helvetica, serif;
}

.arkadia {
	font-family: 'arkadia', Arial, Helvetica, serif;
}

body {
	color: #252929;
	font-size: 16px;
	@extend .arkadia;
}

a {
	color: #4fcf92;
	outline: none;
	&:hover {
		text-decoration: none;
	}
}

h1 {
	margin-bottom: 15px;
	font-size: 50px;
	line-height: 1.2;
	@include respond-to(small-screen) {
		font-size: 32px;
	}
}

h2 {
	margin-bottom: 40px;
	font-size: 30px;
	line-height: 1.4;
	@include respond-to(small-screen) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

h3 {
	margin-bottom: 15px;
	font-size: 16px;
}

.subtitle {
	color: #64D196;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	@include respond-to(small-screen) {
		font-size: 11px;
	}
}

.dubtitle {
	font-size: 16px;
	line-height: 1.2;
}

.text {
	font-size: 24px;
	line-height: 1.5;
	@include respond-to(small-screen) {
		font-size: 16px;
	}
	p {
		margin-bottom: 30px;
		@include respond-to(small-screen) {
			margin-bottom: 20px;
		}
	}
}

.small {
	font-size: 14px;
	line-height: 2;
	@include respond-to(small-screen) {
		font-size: 12px;
		line-height: 1.5;
	}
	p {
		margin-bottom: 20px;
	}
}