.page-footer {
	padding: 54px 0 45px;
	background: #212424;
	@include respond-to(small-screen) {
		padding-top: 22px;
	}
	.contact {
		margin-bottom: 25px;
		@include respond-to(small-screen) {
			margin: 0;
			position: relative;
		}
		.items {
			height: 84px;
			text-align: center;
			@include respond-to(small-screen) {
				height: 0;
				.item1 {left: 60px;}
				.item2 {right: 60px;}
			}
			@include respond-to(large-screen) {
				.item1 a:hover {background: #4fcf92;}
				.item2 a:hover {background: #527acc;}
				.item3 a:hover {background: #527ba6;}
				.item4 a:hover {background: #4466a9;}
				.item5 a:hover {background: #356ca1;}
				.item6 a:hover {background: #55acee;}
			}
		}
		.item {
			display: inline-block;
			width: 64px;
			height: 64px;
			padding: 10px; 
			@include respond-to(small-screen) {
				width: 34px;
				height: 34px;
				padding: 0; 
				position: absolute;
				top: 30px;
			}
			a {
				display: block;
				width: 34px;
				height: 34px;
				padding: 15px;
				@include respond-to(small-screen) {
					padding: 0;
				}
			}
			.icon {
				display: inline-block;
				width: 34px;
				height: 34px;
			}
			
		}
	}
	.logo {
		display: block;
		width: 90px;
		height: 90px;
		margin: 0 auto;
		margin-bottom: 45px;
		text-decoration: none;
		@include retina-sprite(logo-fn_w);
		@include respond-to(small-screen) {
			width: 68px;
			height: 68px;
			margin-bottom: 16px;
			@include retina-sprite(logo-ft_w);
		}
	}
	.copyright {
		font-size: 13px;
		text-align: center;
		@include respond-to(small-screen) {
			font-size: 11px;
		}
	}
}