.page-footer {
	padding: 54px 0 30px;
	background: #212424;
	@include respond-to(medium-screen) {
		padding: 45px 0 90px;
	}
	.contact {
		margin-bottom: 25px;
		@include respond-to(medium-screen) {
			margin: 0;
			position: relative;
		}
		.items {
			height: 84px;
			text-align: center;
			@include respond-to(medium-screen) {
				height: 0;
				.item1 {left: 70px;}
				.item2 {right: 70px;}
			}
			@include respond-to(large-screen) {
				.item1 a:hover {background: #4fcf92;}
				.item2 a:hover {background: #527acc;}
				.item3 a:hover {background: #527ba6;}
				.item4 a:hover {background: #4466a9;}
				.item5 a:hover {background: #356ca1;}
				.item6 a:hover {background: #55acee;}
			}
		}
		.item {
			display: inline-block;
			width: 64px;
			height: 64px;
			padding: 10px; 
			a {
				display: block;
				width: 34px;
				height: 34px;
				padding: 15px;
			}
			.icon {
				display: inline-block;
				width: 34px;
				height: 34px;
			}
			@include respond-to(medium-screen) {
				width: 46px;
				height: 46px;
				padding: 0; 
				position: absolute;
				top: 70px;
				a {
					width: 46px;
					height: 46px;
					padding: 0;
				}
				.icon {
					width: 46px;
					height: 46px;
				}
				.icon-mail {@include retina-sprite(soc_icon-mail_b);}
				.icon-tel {@include retina-sprite(soc_icon-tel_b);}
			}
		}
	}
	.logo {
		display: block;
		width: 90px;
		height: 90px;
		margin: 0 auto;
		margin-bottom: 45px;
		text-decoration: none;
		@include retina-sprite(logo-fn_w);
		@include respond-to(medium-screen) {
			width: 136px;
			height: 136px;
			margin-bottom: 35px;
			@include retina-sprite(logo-mob-fs_w);
		}
	}
	.copyright {
		font-size: 13px;
		text-align: center;
		@include respond-to(medium-screen) {
			font-size: 20px;
		}
	}
}
