.case-article {
	.wrapper {
		padding-left: 100px;
		padding-right: 100px;
		margin-top: 60px;
		margin-bottom: 60px;
		@include respond-to(medium-screen) {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	.cols {
		padding-left: 0;
		padding-right: 0;
		overflow: hidden;
		@include respond-to(medium-screen) {
			padding: 60px;
		}
		.column1 {
			width: 200px;
			margin-right: 40px;
			float: left;
			@include respond-to(medium-screen) {
				width: auto;
				margin: 0;
				float: none;
			}
		}
		.column2 {
			overflow: hidden;
		}
	}
}
.covered {
	.wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
		margin: 0;
	}
}

.case-article_quote {
	.wrapper {
		@include respond-to(large-screen) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.text {
		padding-top: 25px;
		font-weight: bold;
		border-top: 3px solid #2e2e2e;
		border-bottom: 3px solid #2e2e2e;
	}
}

.case-article_media {
	.wrapper {
		@include respond-to(medium-screen) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	figure {
		text-align: center;
		img {
			max-width: 100%;
			vertical-align: top;
		}
	}
}

.case-article_new {
	.forms {
		padding: 0 60px;
		text-align: center;
		@include respond-to(medium-screen) {
			padding: 0;
		}
		.field {
			margin-bottom: 40px;
		}
		.btn {
			@include btn(200px, 50px);
			font-size: 20px;
			@include respond-to(medium-screen) {
				@include btn(280px, 70px);
				font-size: 32px;
			}
		}
	}
}

.case-article_callback {
	.btn {
		@include btn(228px, 48px);
		font-size: 20px;
		@include respond-to(medium-screen) {
			@include btn(350px, 70px);
			font-size: 32px;
		}
	}
}

.case-article_ask {
	.forms {
		padding: 0 60px;
		text-align: center;
		@include respond-to(medium-screen) {
			padding: 0;
		}
		.btn-wrap {
			padding-top: 25px;
		}
		.btn {
			@include btn(200px, 50px);
			font-size: 20px;
			@include respond-to(medium-screen) {
				@include btn(280px, 70px);
				font-size: 32px;
			}
		}
	}
}