.case-comments {
	padding: 70px 0;
	@include respond-to(small-screen) {
		padding: 30px 0;
	}
	.case-capt {
		margin-bottom: 35px;
		@include respond-to(small-screen) {
			margin-bottom: 20px;
		}
		.btn {
			@include btn(176px, 36px);
			font-size: 16px;
		}
	}
	.item {
		margin-bottom: 50px;
		overflow: hidden;
		@include respond-to(medium-screen) {
			padding: 0 30px;
		}
		@include respond-to(small-screen) {
			margin-bottom: 30px;
		}
		.preview {
			padding-top: 5px;
			margin-right: 40px;
			float: left;
			@include respond-to(medium-screen) {
				margin-right: 30px;
			}
			@include respond-to(small-screen) {
				margin: 0 0 20px 0;
				float: none;
				overflow: hidden;
			}
			figure {
				width: 122px;
				@include respond-to(medium-screen) {
					width: 61px;
					height: 61px;
				}
				@include respond-to(small-screen) {
					margin-right: 20px;
					float: left;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		.info {
			overflow: hidden;
			.descript {
				margin-bottom: 10px;
				font-size: 20px;
				line-height: 1.5;
				@include respond-to(small-screen) {
					font-size: 16px;
				}
			}
		}
		.author {
			font-size: 16px;
			line-height: 1.5;
			overflow: hidden;
			@include respond-to(small-screen) {
				padding-top: 5px;
				font-size: 14px;
			}
			.name {
				font-weight: bold;
			}
			.post {
				color: #a0a0a0;
			}
		}
		.chart {
			padding-top: 15px;
			table {
				width: 100%;
			}
			td {
				width: 50%;
				padding-bottom: 10px;
			}
			.ttl {
				margin-right: 10px;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.detect {
				height: 6px;
				background: #eaeaea;
				.pct {
					height: 6px;
					background: #ffbc00;
				}
			}
		}
	}
	.btn-more {
		@include btn(310px, 62px);
		font-size: 18px;
	}
	.btn-refresh {
		display: block;
		width: 45px;
		height: 32px;
		margin: 0 auto;
		@include retina-sprite(btn-refresh);
	}
}

.rate {
	padding: 10px 0;
	.value {
		font-weight: bold;
		text-align: center;
	}
	.case-comments & {
		padding: 8px 0 0;
		margin-left: 30px;
		float: right;
		.value {
			font-size: 11px;
			text-transform: uppercase;
		}
	}
}

.stars {
	width: 185px;
	margin: 0 auto;
	padding-bottom: 12px;
	overflow: hidden;
	.star {
		width: 29px;
		height: 28px;
		margin: 0 4px;
		float: left;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		line-height: 26px;
		text-align: center;
		@include retina-sprite(icon-star);
	}
	.star-fill {
		@include retina-sprite(icon-star_fill);
	}
	.case-comments & {
		padding-bottom: 20px;
	}
}