.case-faq {
	.wrapper {
		padding: 80px 0 0 0;
		@include respond-to(medium-screen) {
			padding: 60px;
			border-bottom: 1px solid #e9e9e9;
		}
		@include respond-to(small-screen) {
			padding: 30px;
		}
	}
	.items {
		padding: 0 60px;
		@include respond-to(small-screen) {
			padding: 0 30px;
		}
	}
	.item {
		margin-bottom: 40px;
		@include respond-to(small-screen) {
			margin-bottom: 20px;
		}
		.capt {
			font-size: 30px;
			font-weight: bold;
			line-height: 1.5;
			@include respond-to(small-screen) {
				font-size: 20px;
			}
			a {
				position: relative;
				color: #2e2e2e;
				text-decoration: none;
				&:before {
					display: block;
					content: '';
					width: 16px;
					height: 16px;
					position: absolute;
					top: 14px;
					left: -55px;
					background: #2e2e2e;
					border-radius: 50%;
					@include respond-to(small-screen) {
						width: 8px;
						height: 8px;
						top: 10px;
						left: -25px;
					}
				}
			}
		}
		.descript {
			display: none;
			padding-top: 20px;
			@include respond-to(small-screen) {
				padding-top: 10px;
			}
		}
	}
	.item_open {
		.capt {
			a {
				color: #97e9bd;
				&:before {
					width: 0;
					height: 0;
					top: 16px;
					border-top: 15px solid #97e9bd;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					background: none;
					border-radius: 0;
					@include respond-to(small-screen) {
						top: 11px;
						border-top: 8px solid #97e9bd;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
					}
				}
			}
		}
		.descript {
			display: block;
		}
	}
}

.search {
	margin: 0 60px 60px;
	position: relative;
	@include respond-to(small-screen) {
		margin: 0 0 30px 0;
	}
	input {
		height: 50px;
		@extend .input;
		padding-left: 68px;
		border-color: #e9e9e9;
		border-radius: 25px;
	}
	.icon {
		display: block;
		width: 23px;
		height: 23px;
		position: absolute;
		top: 13px;
		left: 22px;
	}
}

.icon-search {
	@include retina-sprite(icon-search);
}