.case-product {
	.wrapper {
		padding: 60px 0;
		overflow: hidden;
	}
	figure {
		width: 360px;
		margin-right: 60px;
		float: left;
		text-align: center;
		overflow: hidden;
		@include respond-to(medium-screen) {
			width: auto!important;
			margin: 0!important;
			float: none!important;
		}
	}
	.info {
		padding-top: 40px;
		padding-bottom: 5px;
		overflow: hidden;
		@include respond-to(medium-screen) {
			padding: 60px 60px 0 60px;
			text-align: center;
		}
	}
	.descript {
		margin-bottom: 15px;
		color: #64d095;
		font-size: 16px;
		font-weight: bold;
	}
	.ttl {
		margin-bottom: 40px;
		font-size: 50px;
		font-weight: bold;
		line-height: 1.2;
	}
	.text {
		padding-bottom: 30px;
	}
	.size {
		margin-bottom: 40px;
		color: #adbfbf;
		font-size: 30px;
		@extend .circe;
		font-weight: bold;
	}
	.price {
		display: inline-block;
		margin-right: 40px;
		font-size: 50px;
		font-weight: bold;
		@extend .circe;
		vertical-align: middle;
		@include respond-to(medium-screen) {
			display: block;
			margin: 0 0 40px 0;
		}
	}
	.btn {
		@include btn(250px, 50px);
		font-size: 19px;
		@include respond-to(medium-screen) {
			@include btn(450px, 72px);
			font-size: 32px;
		}
	}
}