.case-products {
	.items {
		position: relative;
		border-bottom: 1px solid #f0f0f0;
		&:after {
			@include respond-to(large-screen) {
				display: block;
				content: '';
				width: 0;
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;
				border-left: 1px solid #f0f0f0;
			}
		}
	}
	.item {
		display: inline-block;
		width: 50%;
		font-weight: bold;
		vertical-align: top;
		border-top: 1px solid #f0f0f0;
		background-color: #EEEEEE;
		@include respond-to(medium-screen) {
			width: 100%;
		}
		.item-cnt {
			padding: 40px;
			overflow: hidden;
			@include respond-to(small-screen) {
				padding: 30px;
			}
		}
		figure {
			width: 200px;
			margin-right: 40px;
			float: left;
			text-align: center;
			overflow: hidden;
			@include respond-to(small-screen) {
				width: 100px;
				margin-right: 20px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		.info {
			padding-top: 40px;
			padding-bottom: 5px;
			overflow: hidden;
			@include respond-to(small-screen) {
				padding-top: 20px;
			}
		}
		.descript {
			margin-bottom: 15px;
			color: #64d095;
			font-size: 14px;
		}
		.ttl {
			margin-bottom: 20px;
			font-size: 26px;
			line-height: 1.5;
			@include respond-to(small-screen) {
				font-size: 16px;
				line-height: 1.3;
			}
			a {
				color: #252929;
				text-decoration: none;
			}
		}
		.size {
			margin-bottom: 20px;
			color: #adbfbf;
			font-size: 21px;
			@extend .circe;
		}
		.price {
			margin-bottom: 20px;
			font-size: 50px;
			@extend .circe;
			@include respond-to(small-screen) {
				margin-bottom: 15px;
				font-size: 25px;
			}
		}
		.btn-wrap {
			width: 210px;
			.btn {
				@include btn(210px, 50px);
				font-size: 18px;
			}
			.more {
				padding-top: 18px;
				font-size: 16px;
			}
			@include respond-to(small-screen) {
				width: 140px;
				.btn {
					@include btn(140px, 36px);
					font-size: 16px;
				}
				.more {
					padding-top: 15px;
					font-size: 12px;
					a {
						text-decoration: none;
					}
				}
			}
		}
		&:nth-child(2n) {
			.item-cnt {
				
			}
			figure {
				@include respond-to(medium-screen) {
					margin: 0 0 0 40px;
					float: right;
				}
				@include respond-to(small-screen) {
					margin: 0 0 0 20px;
				}
			}
		}
		&:hover {
			.btn-wrap {
				@include respond-to(large-screen) {
					display: block!important;
				}
			}
		}
	}
}