.case-thanks {
	.wrapper {
		padding: 80px;
		text-align: center;
		@include respond-to(small-screen) {
			padding: 60px 30px;
		}
	}
	.logo {
		display: block;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		margin-bottom: 100px;
		text-decoration: none;
		@include retina-sprite(logo-tnx);
		@include respond-to(small-screen) {
			margin-bottom: 60px;
		}
	}
	.capt {
		margin-bottom: 40px;
		font-size: 75px;
		font-weight: bold;
		line-height: 1.2;
		@include respond-to(small-screen) {
			margin-bottom: 30px;
			font-size: 32px;
		}
	}
	.return {
		margin-bottom: 120px;
		font-size: 16px;
		@include respond-to(small-screen) {
			font-size: 20px;
		}
	}
	.copyright {
		font-size: 13px;
	}
}